@import "../../../config";

.skills {
	display: flex;
	overflow: hidden;
	justify-content: space-between;

	max-height: 110vh;
}

.description {
	overflow: visible;
	width: 40vw;
}

.canvas {
	position: relative;
	bottom: 10vw;

	overflow: visible;

	width: 60vw;
	height: 60vw;
}

@media #{$g-ui-mobile} {
	.skills {
		flex-direction: column;
		justify-content: start;
		gap: 10vw;

		max-height: none;
	}

	.description {
		width: 100vw;
		padding-right: 5rem;
	}

	.canvas {
		width: 100vw;
		height: 100vw;
	}
}
