$g-ui-desktop: "screen and (min-width: 1281px)";
$g-ui-tablet: "screen and (max-width: 1280px)";
$g-ui-mobile: "screen and (max-width: 912px)";
$g-ui-mobile-small: "screen and (max-width: 768px)";

$g-background-color: #1D1D1D;
$g-gray-color: #8D8D8D;
$g-light-gray-color: #A3A3A3;
$g-white-color: #FFF;
$g-cyan-color: #08FDD8;
$g-cyan-dark-color: #49c5b6;