@import "_config";

body {
	color: $g-white-color;
	background: $g-background-color;

	font-family: "Open Sans", sans-serif;
	font-size: clamp(10px, 3.2rem, 15.5px);
	line-height: 1.5;
}

h1 {
	white-space: nowrap;

	font-family: coolvetica, sans-serif;
	font-size: 10.3rem;
	font-weight: 400;
	line-height: 8.7rem;
}

h2 {
	position: relative;
	left: -10px;

	margin-bottom: 40px;

	cursor: default;

	white-space: nowrap;

	font-family: coolvetica, sans-serif;
	font-size: 7.3rem;
	font-weight: 400;
	line-height: 6.7rem;
}

h3 {
	letter-spacing: 0.11rem;

	font-family: coolvetica, sans-serif;
	font-size: 1.6em;
	font-weight: 400;
}

section {
	min-height: 100vh;
	padding: 9rem 3rem;
}

.textBlock {
	padding-left: 5rem;
}

.textBlock > p {
	margin-bottom: 1.5rem;
}
