@import "_config";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	min-width: 320px;

	font-size: clamp(4px, min(1vh, 1vw), 10px);
	line-height: 1.15;
}

@font-face {
    font-family: 'coolvetica';
    src: url('/fonts/coolveticaRg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #F2F2F2;
}

::-webkit-scrollbar-track {
	background-color: $g-background-color;
}
